extends navbar.pug

block content
    .container 
        h2.title #{blog.title}
        p.description #{blog.description}
        img(src=blog.image ? `/static/uploads/${blog.image}` : 'https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-6.png', alt="image").image
        .buttons 
            a(href=`/generate?blog_id=${blog.id}`).update Update
            a(type="button").delete Delete 
    .modal_delete
        .modal_delete_content
            h3 Do you really want to delete?
            .claim
                a(href=`/${blog.id}/delete`) Yes 
                a.reject_delete No